@tailwind base;
@tailwind components;
@tailwind utilities;


/* Classes utilitaires */
@layer utilities {
  .filter-grayscale {
    filter: grayscale(100%);
  }

  @keyframes slide-in-snackbar {
    0% {
      bottom: -25vh;
    }
    12.5% {
      bottom: 0;
    }
    87.5% {
      bottom: 0;
    }
    100% {
      bottom: -25vh;
    }
  }
  .snackbar-slide-in {
    animation-name: slide-in-snackbar;
    animation-duration: 3s;
  }
}
